
@use 'config/reset.scss';
@use 'config/variaveis.scss';


body {
    background-color: variaveis.$background-color;
}

li {
    list-style: none;
}

// Container
.container {
    max-width: variaveis.$max-width-desktop;
    width: 100%;
    margin: 0 auto;
}

// Header
header {
    background-color: variaveis.$primary-color;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

// Menu
.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: 24px;

        a {
            color: variaveis.$white;
            text-decoration: none;
        }
    }
}

// Seções
section {
    padding: 56px 0;
}

// Produtos
.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
}

// Itens do produto
.product-item {
    img {
        width: 100%;
        border-radius: 16px;
    }
}

// Botões
.product-button {
    display: block;
    background-color: variaveis.$accent-color;
    color: variaveis.$white;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: variaveis.$hover-accent-color;
    }
}

// Responsividade
@media screen and (max-width: 1023px) {
    .container {
        max-width: variaveis.$max-width-mobile;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }

    .product-item {
        margin-bottom: 32px;
    }
}